docutils==0.14
lockfile==0.12.2
luigi==2.7.1
python-daemon==2.1.2
SQLAlchemy==1.1.15
tornado==4.5.2
gitpython==2.1.8
click==6.7
pandas>=0.22.0
numpy>=1.9.0
chardet==3.0.4
tmtk>=0.5.4
psycopg2-binary>=2.7.4
