[GENERAL]
file_dir = staging dir
# list config:
file_list_config = ..../pmc-conversion/csr_transformation/file_list.config
# for testing using the file_list for the order as well
file_order_config = ..../pmc-conversion/csr_transformation/file_list.config
# json formatted configs:
file_header_config = ..../pmc-conversion/csr_transformation/file_headers.config
header_mapping_config = ..../pmc-conversion/csr_transformation/header_mapping.config


[OUTPUT]
target_file = path_to/csr_transformation_data.tsv
