{
  "biosource_test": {
    "id": "biosource_id",
    "individual_id": "individual_id"
  },
  "biomaterial_test": {
    "id": "biomaterial_id"
  },
  "br_test.txt": {
    "CIDDIAG": "diagnosis_id",
    "DTOB_pseudo": "birth_date",
    "SEX": "gender",
    "IDAABA_pseudo": "diagnosis_date",
    "IFCDATR": "IC_type",
    "IFCGIV": "IC_data",
    "IFCMAT": "IC_material",
    "IFCCOM": "IC_linking_ext",
    "HOSPDIAG": "center_treatment",
    "DIAGCD": "tumor_type",
    "PLOCCD": "topography",
    "DIAGGRSTX": "tumor_stage",
    "IDAA_PMC": "individual_id",
    "DTDEATH": "death_date"
  },
  "study_test": {
    "Record Id": "individual_id",
    "Study_Id": "study_id",
    "individual_study_Id": "individual_study_id"
  }
}