[GENERAL]
file_dir = /Users/wibopipping/Projects/PMC/csr_exampe_files
# list config:
file_list_config = /Users/wibopipping/Projects/PMC/pmc-conversion/csr_transformation/file_list.config
# for testing using the file_list for the order as well
file_order_config = /Users/wibopipping/Projects/PMC/pmc-conversion/csr_transformation/file_list.config
# json formatted configs:
file_header_config = /Users/wibopipping/Projects/PMC/pmc-conversion/csr_transformation/file_headers.config
header_mapping_config = /Users/wibopipping/Projects/PMC/pmc-conversion/csr_transformation/header_mapping.config


[OUTPUT]
target_file = /Users/wibopipping/Projects/PMC/csr_example_study/CSR_DATA3.tsv
