[GENERAL]
file_dir = /Users/wibopipping/Projects/PMC/csr_exampe_files
# list config:
file_list_config = file_list.config
# for testing using the file_list for the order as well
file_order_config = file_list.config
# json formatted configs:
file_header_config = file_headers.config
header_mapping_config = header_mapping.config


[OUTPUT]
target_file = CSR_DATA.tsv
