[GENERAL]
file_dir = input dir from luigi.cfg
# list config:
file_list_config = path_to/pmc-conversion/config/file_list.config
# for testing using the file_list for the order as well
file_order_config = path_to/pmc-conversion/config/file_list.config
# json formatted configs:
file_header_config = path_to/pmc-conversion/config/file_headers.json
header_mapping_config = path_to/pmc-conversion/config/header_mapping.json


[OUTPUT]
target_file = path_to_intermediate/csr_transformation_data.tsv
target_dir = path_to_intermediate
