[DATA]
blueprint_file = path_to/pmc-conversion/config/blueprint_example.json
csr_data_file = output file of the csr data transformation
modifier_file = path_to/pmc-conversion/config/example_modifiers.txt

[OUTPUT]
export_dir = staging dir from luigi.cfg

[STUDY]
study_id = NEW_STUDY
security_required = True
top_node = \Private Studies\NEW STUDY\