[DATA]
blueprint_file = /Users/wibopipping/Projects/PMC/pmc-conversion/transmart_transformation/blueprint_example.json
csr_data_file = /Users/wibopipping/Projects/PMC/csr_example_study/CSR_DATA_DO_NOT_DELETE.tsv
modifier_file = /Users/wibopipping/Projects/PMC/pmc-conversion/transmart_transformation/example_modifiers.txt

[OUTPUT]
export_dir = /Users/wibopipping/Projects/PMC/csr_luigi_study

[STUDY]
study_id = CSR_STUDY_2
security_required = True
top_node = \Private Studies\CSR Study 2\