[DATA]
blueprint_file = blueprint.json file
csr_data_file = output file of the csr data transformation
modifier_file = reference modifier file for transmart-copy

[OUTPUT]
export_dir = dir for transmart copy study

[STUDY]
study_id = NEW_STUDY
security_required = True
top_node = \Private Studies\NEW STUDY\